body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #303845;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-principal {
    background-color: #3C4557;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-principal ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

.nav-principal ul li{
    border-bottom: 1px solid #3C4557;
}

.nav-principal ul a{
    box-sizing: border-box;
    color: white;
    background: #3C4557;
    display: block;
    width: 100%;
    padding: 6px 10px;
    text-decoration: none;
}

.nav-principal ul ul{
    height: 0px;
    overflow: hidden;
    transition: var(--estado-buda);
    counter-reset: items;
}
.nav-principal ul ul li{
    counter-increment: items;
}


.nav-principal ul li:hover ul{
    height: calc( var(--cantidad-items) * var(--cada-item) );

    background: rgb(190, 187, 253); 
    background: #525e77

    /*
    height: 100%;
    max-height: calc( counter(items) * var(--cada-item) );
    */
}


.nav-principal ul ul a{
    background: transparent;
}


main {
    flex: 1;
    display: flex;
}

.sidebar {
    background-color: #29303C;
    color: #fff;
    padding: 10px;
    width: 200px;
}

.content {
    flex: 1;
    background-color: #FFFFFF;
    padding: 10px;
}

aside {
    background-color: #888;
    color: #fff;
    padding: 10px;
    width: 200px;
}

footer {
    background-color: #363D4D;
    color: #fff;
    padding: 10px;
    text-align: center;
}
