body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
}

.sidebar {
    background-color: #888;
    color: #fff;
    padding: 10px;
    width: 200px;
}

.content {
    flex: 1;
    background-color: #ccc;
    padding: 10px;
}
.content img{
    width: 800px;
    height: auto;
}
aside {
    background-color: #888;
    color: #fff;
    padding: 10px;
    width: 200px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/*--------------------------------------*/
.nav-principal {
    background-color: #3C4557;
}

.nav-principal ul {
    list-style-type: none;
    margin: 5px;
    padding: 2;
}

.nav-principal li {
    margin-right: 20px;
}

.nav-principal a {
    text-decoration: none;
    color: #fff;
}

.nav-principal ul li {
    border-bottom: 1px solid #3C4557;
}

.nav-principal ul a {
    box-sizing: border-box;
    color: white;
    background: #3C4557;
    display: block;
    width: 100%;
    padding: 6px 10px;
    text-decoration: none;
}

.nav-principal ul ul {
    height: 0px;
    overflow: hidden;
    transition: var(--estado-buda);
    counter-reset: items;
}

.nav-principal ul ul li {
    counter-increment: items;
}


.nav-principal ul li:hover ul {
    height: calc(var(--cantidad-items) * var(--cada-item));

    background: rgb(190, 187, 253);
    background: #525e77
        /*
    height: 100%;
    max-height: calc( counter(items) * var(--cada-item) );
    */
}

.nav-principal ul ul a {
    background: transparent;
}

/*--------------------*/
.nav-secundaria ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

.nav-secundaria ul li {
    border-bottom: 1px solid #3C4557;
}

.nav-secundaria ul a {
    box-sizing: border-box;
    color: white;
    background: #3C4557;
    display: block;
    width: 100%;
    padding: 6px 10px;
    text-decoration: none;
}

.nav-secundaria ul ul {
    height: 0px;
    overflow: hidden;
    transition: var(--estado-buda);
    counter-reset: items;
}

.nav-secundaria ul ul li {
    counter-increment: items;
}


.nav-secundaria ul li:hover ul {
    height: calc(var(--cantidad-items) * var(--cada-item));

    background: rgb(190, 187, 253);
    background: #525e77
        /*
    height: 100%;
    max-height: calc( counter(items) * var(--cada-item) );
    */
}


.nav-secundaria ul ul a {
    background: transparent;
}

/*-----------------------------------*/
.columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.columna {
    flex: 0 0 calc(33.33% - 10px); /* Ajusta el ancho de cada columna */
    margin-right: 10px;
}
/* estilo reponsivo*/
/* telefono*/
@media screen  and (min-width: 320px)and (max-width: 520px) {
    html{
        width: 100%;
    }
    img{
      width: 100%;
      border-radius: 15px;
     }
     
    header, footer{
        width: 95%;
    }
   
   .sidebar {
    width: 90px;
    font-size: 10px;
}
.story{
    width: 80%;
} 
.content img{
    width: 280px;
}
}
  
  /* tablet*/
  @media screen  and (min-width:521px) and (max-width: 768px) {
   img{
    width: 80%;
   }
  
  }
  
  /* compu */
  @media screen  and (min-width:769px){
    html{
      font-size: 15px;
      width: 100%;
    }
    img{
      width: 70%;
     }
    .escritorio{
      display: inline-block;
    }
  }